@page
@model WebApp.Pages.Orders.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="card m-3">
    <div class="card-header">
        <a asp-page="/Index" class="h1 text-decoration-none">Coffe In Aja</a>
    </div>
    <div class="card-body">
        <div class="d-flex">
            <h3 class="text-start flex-grow-1">List Order</h3>
            <a class="btn btn-success" asp-page="/Orders/Create">+ Add New Order</a>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Customer</th>
                    <th scope="col">Dine In</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @for (var i = 0; i < Model.Orders.Count; i++)
                {
                    <tr>
                        <th scope="row">@(i+1)</th>
                        <td>@Model.Orders[i].Customer</td>
                        <td>@(Model.Orders[i].DineIn ? "Yes" : "No")</td>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@Model.Orders[i].Id">Edit</a> |
                            <a asp-page="./Details" asp-route-id="@Model.Orders[i].Id">Details</a> |
                            <a asp-page="./Delete" asp-route-id="@Model.Orders[i].Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
